a {
  color: DarkBlue;
  transition: color 0.1s ease-in-out;
}

a:visited {
  color: Blue;
  transition: color 0.1s ease-in-out;
}

a:hover, a:active {
  color: #2b506e;
}

body {
  font-family: 'Ruda', 'Arial', sans-serif;
  text-align: center;
  background-image: url('tiffanybalc.github.io/Pictures/IMG_2198.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
}

div {
  margin: 30px auto;
  padding: 10px
  border: 2px solid;
  border-color: rgba(255,255,255,0.9);
  width: 90%;
  background-color: rgba(255,255,255,0.8);
}

.Meet-Tiffany {
  margin: 10px auto;
  background-color: #d2d2d2;
  height: 90px;
}

h1 {
  color: White;
  font-size: 50px;
  font-weight: 700;
}

li {
  list-style-type: none;
}

.social-media {
  color: DarkSlateGray;
  font-size: 30px;
  padding: 0;
  transition: color 0.1s ease-in-out;
}

.pictures {
  size: 50%;
}

.education {
  size: 100px;
}

footer {
  text-align: center center;
}
