head {
  Display: Block;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: LightBlue;
}

div {
  border-style: solid;
}

li {
  list-style-type: none;
}

.header {
  color: DarkSlateGray;
}

.social-media {
  color: LightSlateGray;
  padding: 0;
}

.pictures {
  color: SlateGray;
  size: 50%;
}

.education {
  color: SlateGray;
  size: 20%;
}
