a, a:visited {
  color: SteelBlue;
  transition: color 0.1s ease-in-out;
}

a:hover, a:active {
  color: #2b506e;
}

head {
  Display: Block;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f1f1f1;
  text-align: center;
}

div {
  border-style: solid;
}

li {
  list-style-type: none;
}

.header {
  color: DarkSlateGray;
}

.social-media {
  color: LightSlateGray;
  padding: 0;
}

.pictures {
  color: SlateGray;
  size: 50%;
}

.education {
  color: SlateGray;
  size: 20%;
}

footer {
  text-align: right;
}
